Source: libfaifa
Priority: extra
Maintainer: Florian Fainelli <florian.fainelli@openpattern.org>
Build-Depends: debhelper (>= 5), libpcap0.8-dev, libssl-dev (>= 0.9.7)
Section: libs

Package: libfaifa-dev
Section: libdevel
Architecture: any
Depends: libfaifa0 (= ${Source-Version})
Description: faifa development libraries

Package: libfaifa0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: faifa library

Package: faifa
Section: net
Depends: libfaifa0
Architecture: i386
Description: Homeplug 1.0/AV tool
 Faifa is a network tool to configure, inspect
 flash, collect statistics on HomePlug 1.0/AV
 devices.
 It sends all private and public ethernet management
 frames to the devices.
